<a href="{{ if $.Site.Params.Logo.LogoHomeLink }}{{ $.Site.Params.Logo.LogoHomeLink }}{{else}}{{ $.Site.BaseURL }}{{ end }}">
<div class="logo2">
   <pre>
██╗  ██╗███████╗███████╗██████╗ ███████╗    ██╗███████╗███████╗██╗  ██╗███╗   ███╗███████╗██████╗    ██╗███╗   ██╗███████╗ ██████╗
██║ ██╔╝██╔════╝██╔════╝██╔══██╗██╔════╝   ██╔╝██╔════╝██╔════╝██║  ██║████╗ ████║██╔════╝██╔══██╗   ██║████╗  ██║██╔════╝██╔═══██╗
█████╔╝ █████╗  █████╗  ██████╔╝███████╗  ██╔╝ █████╗  █████╗  ███████║██╔████╔██║█████╗  ██████╔╝   ██║██╔██╗ ██║█████╗  ██║   ██║
██╔═██╗ ██╔══╝  ██╔══╝  ██╔══██╗╚════██║ ██╔╝  ██╔══╝  ██╔══╝  ██╔══██║██║╚██╔╝██║██╔══╝  ██╔══██╗   ██║██║╚██╗██║██╔══╝  ██║   ██║
██║  ██╗███████╗███████╗██████╔╝███████║██╔╝   ██║     ███████╗██║  ██║██║ ╚═╝ ██║███████╗██║  ██║██╗██║██║ ╚████║██║     ╚██████╔╝
╚═╝  ╚═╝╚══════╝╚══════╝╚═════╝ ╚══════╝╚═╝    ╚═╝     ╚══════╝╚═╝  ╚═╝╚═╝     ╚═╝╚══════╝╚═╝  ╚═╝╚═╝╚═╝╚═╝  ╚═══╝╚═╝      ╚═════╝
</pre>
</div>
</a>

