<a href="{{ $.Site.BaseURL }}">
<div class="logo" style="background: linear-gradient(135deg, rgba(255,135,0,1), rgba(255,0,175,1), rgba(190,0,218,1), rgba(101,63,235,1), rgba(44,149,224,1), rgba(0,255,175,1), rgba(95,255,95,1), rgba(212,233,29,1), rgba(255,135,0,1));  -webkit-background-clip: text;  -webkit-text-fill-color: transparent;  text-shadow: none;  filter: blur(1px);margin-bottom: 2em;">
   <pre style="font-size: .5em;">
██╗  ██╗███████╗███████╗██████╗ ███████╗    ██╗███████╗███████╗██╗  ██╗███╗   ███╗███████╗██████╗    ██╗███╗   ██╗███████╗ ██████╗
██║ ██╔╝██╔════╝██╔════╝██╔══██╗██╔════╝   ██╔╝██╔════╝██╔════╝██║  ██║████╗ ████║██╔════╝██╔══██╗   ██║████╗  ██║██╔════╝██╔═══██╗
█████╔╝ █████╗  █████╗  ██████╔╝███████╗  ██╔╝ █████╗  █████╗  ███████║██╔████╔██║█████╗  ██████╔╝   ██║██╔██╗ ██║█████╗  ██║   ██║
██╔═██╗ ██╔══╝  ██╔══╝  ██╔══██╗╚════██║ ██╔╝  ██╔══╝  ██╔══╝  ██╔══██║██║╚██╔╝██║██╔══╝  ██╔══██╗   ██║██║╚██╗██║██╔══╝  ██║   ██║
██║  ██╗███████╗███████╗██████╔╝███████║██╔╝   ██║     ███████╗██║  ██║██║ ╚═╝ ██║███████╗██║  ██║██╗██║██║ ╚████║██║     ╚██████╔╝
╚═╝  ╚═╝╚══════╝╚══════╝╚═════╝ ╚══════╝╚═╝    ╚═╝     ╚══════╝╚═╝  ╚═╝╚═╝     ╚═╝╚══════╝╚═╝  ╚═╝╚═╝╚═╝╚═╝  ╚═══╝╚═╝      ╚═════╝
</pre>
</div>
</a>

